/** Parish and School List Views **/

.view-parish-finder .views-row,
.view-school-finder .views-row {
    border: 1px solid;
    clear: both;
    margin: 20px 0;
    overflow: auto;
}

.view-parish-finder .views-row .views-field-nothing,
.view-school-finder .views-row .views-field-nothing {
    padding: 0 40px;
}


.view-parish-finder .views-row .views-field-nothing .parish-address p,
.view-school-finder .views-row .views-field-nothing .school-address p {
    margin-bottom: 0;
}

.view-parish-finder .views-row .views-field-nothing .parish-phone,
.view-school-finder .views-row .views-field-nothing .school-phone {
    padding: 0 0 5px;
}

.view-parish-finder .views-row .views-field-nothing .parish-website,
.view-school-finder .views-row .views-field-nothing .school-website {
    padding: 5px 0;
}

.view-parish-finder .views-row .views-field-nothing .parish-details,
.view-school-finder .views-row .views-field-nothing .school-details {
    font-weight: bold;
    padding: 5px 0;
}

.view-parish-finder .views-row .views-field-nothing .parish-proximity,
.view-school-finder .views-row .views-field-nothing .school-proximity {
    font-size: 1.25em;
    font-weight: bold;
    padding: 5px 0 0;
}

@media all and (min-width: 768px) {
    .view-parish-finder .views-row .views-field-nothing,
    .view-school-finder .views-row .views-field-nothing {
        float: left;
        margin-right: 5%;
        width: 45%;
    }

    .view-parish-finder .views-row .views-field-field-geolocation,
    .view-school-finder .views-row .views-field-field-geolocation {
        float: right;
        width: 45%;
    }
}

.view-parish-finder .parish-services .view-parish-mass-times .view-grouping-header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25em;
    margin: 20px 0 0 10px;
    size: 1.25em;
}

.view-parish-finder .parish-services .view-parish-mass-times .view-grouping-content h3 {
    font-size: 1em;
    margin: 0 0 0 25px;
}

.view-parish-finder .parish-services .view-parish-mass-times .views-row {
    border: none;
    margin: 0 0 0 40px;
}

    /** Parish and School Map Views **/
.view-parish-finder #views-form-parish-finder-page-2 .parish-address p,
.view-school-finder #views-form-school-finder-page-2 .school-address p{
    margin-bottom: 0;
}

.view-parish-finder #views-form-parish-finder-page-2 .parish-phone,
.view-school-finder #views-form-school-finder-page-2 .school-phone{
    padding: 0 0 5px;
}

.view-parish-finder #views-form-parish-finder-page-2 .parish-website,
.view-school-finder #views-form-school-finder-page-2 .school-website {
    padding: 5px 0;
}

.view-parish-finder #views-form-parish-finder-page-2 .parish-details,
.view-school-finder #views-form-school-finder-page-2 .school-details {
    font-weight: bold;
    padding: 5px 0;
}

.view-parish-finder #views-form-parish-finder-page-2 .parish-proximity,
.view-school-finder #views-form-school-finder-page-2 .school-proximity {
    font-size: 1.25em;
    font-weight: bold;
    padding: 5px 0 0;
}



/** Exposed Filters **/

.view-parish-finder #views-exposed-form-parish-finder-page-1 .form-actions,
.view-parish-finder #views-exposed-form-parish-finder-page-2 .form-actions,
.view-school-finder #views-exposed-form-school-finder-page-1 .form-actions,
.view-school-finder #views-exposed-form-school-finder-page-2 .form-actions {
    clear: both;
}

.view-parish-finder #views-exposed-form-parish-finder-page-1 details,
.view-parish-finder #views-exposed-form-parish-finder-page-2 details,
.view-school-finder #views-exposed-form-school-finder-page-1 details,
.view-school-finder #views-exposed-form-school-finder-page-2 details  {
    clear: both;
}
